services:
  laravel:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel-app
    ports:
      - "8000:8000"
    depends_on:
      - database
    env_file:
      - .env
    volumes:
      - .:/app
      - ./storage:/app/storage
      - vendor_data:/app/vendor
    networks:
      - laravel-network
  database:
    image: mysql:8.0
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=laravel
      - MYSQL_USER=laravel
      - MYSQL_PASSWORD=laravel
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel-network

volumes:
  mysql_data:
  vendor_data:

networks:
  laravel-network:
    driver: bridge